@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: azure;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(100, 85, 235) 0%,
    rgb(92, 92, 209) 35%,
    rgb(40, 98, 206) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}